<link rel="stylesheet" href="components/bond/bond.css">
<md-toolbar layout layout-align="space-between center" class="md-primary md-hue-1" id="toolbar">
    <img ui-sref="dashboard" class="logo_img" src="assets/logos.png">
    <div layout="row" layout-align="center center">
        <div layout="row" layout-align="center center">
            <p class="username">Statements</p>
            <i class="material-icons md-36 menu profile_icon">account_balance_wallet</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">Explore</p>
            <i class="material-icons md-36 menu profile_icon">search</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">{{user.firstname}} {{user.lastname}}</p>
            <md-menu>
                <i class="material-icons md-36 menu profile_icon" ng-click="$mdMenu.open()">account_circle</i>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="profile.account">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>settings</md-icon>
                            Account Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>exit_to_app</md-icon>
                            Log Out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<div layout="column" class="dashboard_padding" flex>
    <div layout="row" layout-align="space-between start" class="box1 padding">
        <div>
            <p class="box1header">CUSIP
                <md-tooltip class="tooltip-mulitline">Identifier of the bond</md-tooltip>
            </p>
            <p class="box1header" style="margin-bottom: 0 !important; color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder">{{detail.assocBond.cusip}}</p>
        </div>
        <div>
            <p class="box1header">Type
                <md-tooltip class="tooltip-mulitline">A Treasury Bond is one of four types of debt issued by the US Treasury.</br>
                    It is a fixed interest US Government security with a maturity of more than 10 years.</br>
                    The interest is paid off semi-anually.
                </md-tooltip>
            </p>
            <p class="box1header" style="margin-bottom: 0 !important; color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder">{{detail.assocBond.type}}</p>
        </div>
        <div>
            <p class="box1header">Issuer: <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">{{detail.assocBond.issuer}}</span>
                <md-tooltip class="tooltip-multiline">The entity issuing the bond.</md-tooltip>
            </p>
            <p class="box1header" style="margin-bottom: 0 !important">Issue Date: <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">{{detail.assocOrder.tradedate | mydate}}</span>
                <md-tooltip class="tooltip-multiline">The date in which the bonds were issued.</md-tooltip>
            </p>
        </div>
        <div>
            <p class="box1header">Available Quantity:  <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">{{detail.assocBond.quantity}}</span>
                <md-tooltip class="tooltip-multiline">The number of remaining bonds that have not been purchased.</md-tooltip>
            </p>
            <p class="box1header" style="margin-bottom: 0 !important">Quantity Owned: <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">{{detail.assocOrder.numbondspurchased}}</span>
                <md-tooltip class="tooltip-multiline">The number of bonds under this CUSIP that you own.</md-tooltip>
            </p>
        </div>
    </div>
    <div layout="row" layout-align="space-between start" class="box1 padding nocolor row2">
        <md-card class="card">
            <p class="cHeader1">Coupon
                <md-tooltip class="tooltip-multiline">The annual interest rate paid on the bond.</br>
                    This is expressed as a percentage of the face value.
                </md-tooltip>
            </p>
            <p class="cHeader2">Face Value
                <md-tooltip class="tooltip-multiline">The initial price of the bond.</br>
                    This is the amount that will be paid back on the maturity date.
                </md-tooltip>
            </p>
            <p class="cHeader3">{{detail.assocBond.facevalue}}</p>
            <p class="cHeader4">USD</p>
            <p class="cHeader2">Purchased</p>
            <p class="cHeader4 box0">{{detail.assocOrder.numbondspurchased}} | {{detail.assocOrder.tradedate | mydate}} | {{detail.assocOrder.tradedate | mytime}}</p>
       </md-card>
        <md-card class="card">
            <p class="cHeader1">Earnings</p>
            <p class="cHeader2">Interest Rate</p>
            <p class="cHeader3">{{detail.assocBond.interestrate}}%</p>
            <p class="cHeader4">semi-anually</p>
            <p class="cHeader2 box2">
                Current Yield: <span class="cHeader3 yield">{{detail.assocBond.marketyield | roundNum}}%</span>
            </p>
       </md-card>
        <md-card class="card">
            <p class="cHeader1">Maturity
                <md-tooltip class="tooltip-multiline">The length of time until the bond is repaid.</md-tooltip>
            </p>
            <p class="cHeader2">Maturity Date
                <md-tooltip class="tooltip-multiline">The date in which the bond will be fully matured.</md-tooltip>
            </p>
            <p class="cHeader3">{{detail.assocOrder.tradedate | semiyearly}}</p>
            <p class="cHeader4">Next Coupon Date
                <md-tooltip class="tooltip-multiline">The date of the next interest payment from the </br>issuer to the owner of the bond.</md-tooltip>
            </p>
            <p class="cHeader2 box3">{{detail.assocBond.maturitydate | mydate}}</p>
       </md-card>
        <md-card class="card">
            <p class="cHeader1">Bond Rating
                <md-tooltip class="tooltip-multiline">The likelihood of the issuer defaulting on the loan.</br>
                    This ranges from AAA to BBB- for the </br>Standard and Poor's Rating System (S&P).</br>
                    S&P is one of the leading bond rating agencies.
                </md-tooltip>
            </p>
            <p class="cHeader2">S&amp;P</p>
            <p class="cHeader3">{{detail.assocBond.creditrating}}</p>
            <p class="cHeader4">Issuer
            </p>
            <p class="cHeader2 box3">{{detail.assocBond.issuer}}</p>
       </md-card>
    </div>
    <div layout="row" layout-align="space-between start" class="box1 padding nocolor">
        <div flex="50" layout="column">
            <p class="cHeader1 market">Market</p>
            <div id="chart"></div>
        </div>
        <div flex="50">
            <div layout="row" class="card2">
                <div layout="column" flex>
                    <p class="cHeader1 card3">Quantity</p>
                    <p class="cHeader3 nocenter">1000</p>
                    <p class="cHeader1 card3">Offer Price</p>
                    <p class="cHeader3 nocenter">101-30+</p>
                    <p class="cHeader1 card3 bottom top">Principal</p>
                    <p class="cHeader1 card3 bottom">Accrued Interest
                        <md-tooltip class="tooltip-multiline">Amount of interest earned since the last coupon date.</md-tooltip>
                    </p>
                    <p class="cHeader1 card3 bottom">Total</p>
                </div>
                <div layout="column" layout="center center" flex>
                    <p class="cHeader1 card3">Settlement Date
                        <md-tooltip class="tooltip-multiline">The date in which the bond purchase will be complete</md-tooltip>
                    </p>
                    <p class="cHeader3 nocenter">{{detail.assocOrder.settlementdate | mydate}}</p>
                    <md-button class="md-accent md-raised sell" ng-click="sell($event)">SELL</md-button>
                    <p class="cHeader3 nocenter top">{{detail.assocOrder.principal | roundNum}}</p>
                    <p class="cHeader3 nocenter">{{detail.assocOrder.accruedinterest | roundNum}} USD ({{detail.assocBond.maturitydate | accrued}} Days)</p>
                    <p class="cHeader3 nocenter">{{detail.assocOrder.total | roundNum}}</p>
                </div> 
            </div>
        </div>
    </div>
</div> 
