<form layout="column" layout-align="center center" name="accountForm">
    <md-input-container>
        <label>Email</label>
        <input ng-model="email" type="email">
    </md-input-container>
    <md-input-container>
        <label>Username</label>
        <input ng-model="username">
    </md-input-container>
    <md-input-container>
        <label>Full Name</label>
        <input ng-model="full_name">
    </md-input-container>
    <md-button class="md-accent md-raised" type="submit">Save changes</md-button>
</form>