body, html {
    height: 100%;
}

.bg{ 
    background-image: url("assets/bg2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }

.toolbar{
    height: 48px;
}

.logo{
    padding-left: 10px;
}

.landing_text{
    font-size: 44px;
    letter-spacing: -1px;
    font-weight: 100;
    margin: 0;
    margin-top: 80px;
}

.landing_text2{
    font-size: 17px;
    letter-spacing: .06vmax;
    font-weight: 100;
    margin: 0;
    margin-top: 20px;
}

.startButton{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

.menu{
   cursor: pointer;
   margin-right: 10px;
}