<link rel="stylesheet" href="components/bond/bond.css">
<md-toolbar layout layout-align="space-between center" class="md-primary md-hue-1" id="toolbar">
    <img ui-sref="dashboard" class="logo_img" src="assets/logos.png">
    <div layout="row" layout-align="center center">
        <div layout="row" layout-align="center center">
            <p class="username">Statements</p>
            <i class="material-icons md-36 menu profile_icon">account_balance_wallet</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">Explore</p>
            <i class="material-icons md-36 menu profile_icon">search</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">Dirk McMaster</p>
            <md-menu>
                <i class="material-icons md-36 menu profile_icon" ng-click="$mdMenu.open()">account_circle</i>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="profile.account">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>settings</md-icon>
                            Account Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>exit_to_app</md-icon>
                            Log Out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<div layout="column" class="dashboard_padding" flex>
    <div layout="row" layout-align="space-between start" class="box1 padding">
        <div>
            <p class="box1header">CUSIP</p>
            <p class="box1header" style="margin-bottom: 0 !important; color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder">{{detail.cusip}}</p>
        </div>
        <div>
            <p class="box1header">Type</p>
            <p class="box1header" style="margin-bottom: 0 !important; color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder">{{detail.couponType}}</p>
        </div>
        <div>
            <p class="box1header">Issuer: <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">{{detail.issueIdentifier}}</span></p>
            <p class="box1header" style="margin-bottom: 0 !important">Issue Date: <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">{{detail.tradeDate}}</span></p>
        </div>
        <div>
            <p class="box1header">Available Quantity:  <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">10000</span></p>
            <p class="box1header" style="margin-bottom: 0 !important">Quantity Owned: <span style="color: black; font-weight: bolder; font-weight: bolder; font-weight: bolder;">100</span></p>
        </div>
    </div>
    <div layout="row" layout-align="space-between start" class="box1 padding nocolor">
        <md-card class="card">
            <p class="cHeader1">Coupon</p>
            <p class="cHeader2">Face Value</p>
            <p class="cHeader3">1000</p>
            <p class="cHeader4">USD</p>
            <p class="cHeader2">Purchased</p>
            <p class="cHeader4 box0">$1050 | Nov 07 2016 | 8:00 PM</p>
       </md-card>
        <md-card class="card">
            <p class="cHeader1">Earnings</p>
            <p class="cHeader2">Interest Rate</p>
            <p class="cHeader3">1.4%</p>
            <p class="cHeader4">semi-anually</p>
            <p class="cHeader2 box2">
                Current Yield: <span class="cHeader3 yield">2.986</span>
            </p>
       </md-card>
        <md-card class="card">
            <p class="cHeader1">Maturity</p>
            <p class="cHeader2">Maturity Date</p>
            <p class="cHeader3">Dec 15, 2020</p>
            <p class="cHeader4">Next Coupon Date</p>
            <p class="cHeader2 box3">Nov 07, 2017</p>
       </md-card>
        <md-card class="card">
            <p class="cHeader1">Bond Rating</p>
            <p class="cHeader2">S&amp;P</p>
            <p class="cHeader3">AAA</p>
            <p class="cHeader4">Issuer</p>
            <p class="cHeader2 box3">America Bank</p>
       </md-card>
    </div>
<!--    <div id="chart"></div>-->
</div> 
