<link rel="stylesheet" href="components/dashboard/dashboard.css">
<md-toolbar layout layout-align="space-between center" class="md-primary md-hue-1" id="toolbar">
    <img ui-sref="dashboard" class="logo_img" src="assets/logos.png">
    <div layout="row" layout-align="center center">
        <div layout="row" layout-align="center center">
            <p class="username">Statements</p>
            <i class="material-icons md-36 menu profile_icon">account_balance_wallet</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">Explore</p>
            <i ui-sref="explore" class="material-icons md-36 menu profile_icon">search</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">{{user.firstname}} {{user.lastname}}</p>
            <md-menu>
                <i class="material-icons md-36 menu profile_icon" ng-click="$mdMenu.open()">account_circle</i>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="profile.account">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>settings</md-icon>
                            Account Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>exit_to_app</md-icon>
                            Log Out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<md-content class="dashboard_padding" flex>
    <div layout="column" flex>
        <h3 class="header">Welcome Back!</h3>
        <div layout="row" layout-align="space-between start" style="margin-bottom: 15px;">
            <div layout="column" class="padding">
                <p class="qheader">Quick Links:</p>
                <p class="links link0">Account Statements</p>
                <p class="links">My profile</p>
                <p class="links">Help</p>
                <p class="links">About BLB</p>
            </div>
            <div layout="row" class="boxHeight">
                <div layout="column" class="nocolor" layout-align="start start">
                    <div id="chart" flex></div>
                </div>
                <div layout="column" class="box1" layout-align="start start">
                    <p class="boxHeader">Wallet Balance</p>
                    <p class="value">{{user.acctbalance | currency}} USD</p>
                    <p class="add_funds">Add Funds</p>
                </div>
                <div layout="column" class="box2" layout-align="start start">
                    <p class="boxHeader">Top Performing Bond Today</p>
                    <div layout="row">
                        <p class="marginO value">US T 5/8 10yr</p>
                        <p class="marginO value1">5.76 <span class="value2">+0.9 (4%)</span></p>
                        <i class="material-icons md-24 info">info</i>
                    </div>
                </div>
            </div>
        </div>

          <md-card class="table">
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
              <div class="md-toolbar-tools">
                <span class="tableHeader">My Portfolio</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="loadStuff()">
                  <md-icon>refresh</md-icon>
                </md-button>
              </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
              <div class="md-toolbar-tools">
                <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
              </div>
            </md-toolbar>

            <md-table-container>
              <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                  <tr class="headerRow" md-row>
                    <th md-column md-order-by="assocBond.cusip"><span>CUSIP</span></th>
                    <th md-column md-order-by="assocBond.issuer" md-desc><span>Issuer</span></th>
                    <th md-column md-order-by="assocBond.type"><span>Type</span></th>
                    <th md-column md-order-by="assocBond.interestrate"><span>Interest Rate</span></th>
                    <th md-column md-order-by="assocBond.maturitydate"><span>Maturity Date</span></th>
                    <th md-column md-order-by="assocBond.quantity"><span>Quantity</span></th>
                    <th md-column md-order-by="assocBond.facevalue"><span>Face Value</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="bonds" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="bonds in bonds | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.cusip}}</td>
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.issuer}}</td>
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.type}}</td>
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.interestrate}}%</td>
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.maturitydate | mydate}}</td>
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.quantity}}</td>
                    <td md-cell ng-click="go(bonds)">{{bonds.assocBond.facevalue}}</td>                    
                  </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bondRows}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
          
            
          </md-card>
    </div>
</md-content>