.profile_icon{
    color: #2196F3;   
}

.profile_icon:hover, .dashboard_action:hover{
    color: black;
}

.username{
    font-size: 14px;
    margin-right: 3px;
    cursor: pointer;
}

.dashboard_padding{
    background-color: #e9edf2;
}

.header{
    color: #0D47A1;
    margin: 0;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.qheader{
    color: #868686;
    font-size: 14px;
    margin: 0;
    margin: 5px 0 0 0;
}

.padding{
    margin: 0 0 0 20px;
}

.links{
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: #2196F3;
    cursor: pointer;
}

.link0{
    margin-top: 5px;
}

.boxHeight{
    height: 115px;
}

.box1, .box2{
    background-color: white;
}

.box1{
    width: 200px;
    margin-right: 40px;
}

.box2{
    width: 400px;
    margin-right: 20px;
}

.box1 > p, .box2 > p, .marginO{
    margin: 0;
}

.boxHeader{
    color: #0D47A1;
    margin: 0;
    font-size: 20px;
    margin: 15px 0 15px 10px !important;
    letter-spacing: -1px;
}

.boxHeader2{
    color: #0D47A1;
    margin: 0;
    font-size: 20px;
    margin: 15px 0 15px 10px !important;
    letter-spacing: -1px;
    cursor: pointer;
}

.value{
    font-weight: 900;
    font-size: 18px;
    margin: 0 0 6px 10px !important;
    letter-spacing: 1.5px;
}

.add_funds{
    font-size: 14px;
    margin-left: 10px !important;
    color: #2196F3;
    cursor: pointer;
}

.add_funds:hover, .infoh:hover{
    color: black;
}

.value1{
    margin: 0 15px 0 15px !important;
    font-size: 20px;
    color: green;
}

.value2{
    font-size: 15px !important;
}

.info{
    color: gray;
    cursor: pointer;
}

.tableHeader{
    color: #0D47A1;
}

.tableMessage{
    margin-top: 70px;
    margin-bottom: 150px;
    align-items: center;
    padding: 0px !important;
}

.tableMiniHeader{
    color: rgb(16,108,200);
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 20px;
}

.tableText{
    margin-top: 2px;
    font-size: 16px;
}

.tableButton {
    margin-top: 15px !important;
    margin-bottom: 50px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.table{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

md-card.md-default-theme, md-card {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default, md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;  
}

.md-row:hover{
    background-color: rgba(128,128,128, .2);
}

.headerRow:hover{
    background-color: white;
}

.nocolor{
    width: 200px;
    margin-right: 40px;
    background-color: none !important;
}

.nocolor > p{
    margin: 0;
}

md-toolbar.md-table-toolbar form > input {
    width: 100%;
    margin: 0;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 10px;
    outline:none;
}