<link rel="stylesheet" href="components/dashboard/dashboard.css">
<md-toolbar layout layout-align="space-between center" class="md-primary md-hue-1" id="toolbar">
    <img ui-sref="dashboard" class="logo_img" src="assets/logos.png">
    <div layout="row" layout-align="center center">
        <div layout="row" layout-align="center center">
            <p class="username">Statements</p>
            <i class="material-icons md-36 menu profile_icon">account_balance_wallet</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">Explore</p>
            <i ui-sref="explore" class="material-icons md-36 menu profile_icon">search</i>
        </div>
        <div layout="row" layout-align="center center">
            <p class="username">{{user.firstname}} {{user.lastname}}</p>
            <md-menu>
                <i class="material-icons md-36 menu profile_icon" ng-click="$mdMenu.open()">account_circle</i>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="profile.account">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>settings</md-icon>
                            Account Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>exit_to_app</md-icon>
                            Log Out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<md-content class="dashboard_padding" flex>
    <div layout="column" flex>
        <h3 class="header">Welcome Back, {{user.firstname}}!</h3>
        <div layout="row" layout-align="space-between start" style="margin-bottom: 15px;">
            <div layout="column" class="padding">
                <p class="qheader">Quick Links:</p>
                <p class="links link0">Account Statements</p>
                <p class="links">My profile</p>
                <p class="links">Help</p>
                <p class="links">About BLB</p>
            </div>
            <div layout="row" class="boxHeight">
                <div layout="column" class="nocolor" layout-align="start start" ng-show="showTable">
                    <div id="chart" flex></div>
                </div>
                <div layout="column" class="box1" layout-align="start start">
                    <p class="boxHeader">Wallet Balance</p>
                    <p class="value">{{user.acctbalance | currency}} USD</p>
                    <p class="add_funds" ui-sref="profile.wallet">Add Funds</p>
                </div>
                <div layout="column" class="box2" layout-align="start start">
                    <p class="boxHeader">Recommended Bond To Look At Today!</p>
                    <div layout="row">
                        <p class="marginO value">US T 5/8 {{bestBond.type}}</p>
                        <p class="marginO value1">{{bestBond.yieldask | roundNum}} <span class="value2">+0.9 (4%)</span></p>
                        
                        <a href="http://www.investopedia.com/university/bonds/">
                            <i class="material-icons md-24 info">info</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout="row">
        <md-card class="table" flex ng-hide="showTable">
            <div>
                <div class="md-toolbar-tools tableMessage" layout="column">
                    <p class="tableMiniHeader">You have no bonds to show.</p>
                    <p class="tableText">Visit the Explore page and select a bond to buy it.<br></p>
                    <md-button class="md-raised md-accent tableButton"  ui-sref="explore">Buy Bonds</md-button>
                </div>
            </div>
        </md-card>
        <md-card class="table" flex="50" ng-show="showTable">
            <div>
                <md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
                  <div class="md-toolbar-tools">
                    <span class="tableHeader">My Portfolio</span>
                    <div flex></div>
                     <md-button class="md-icon-button" ng-click="filter.show = true">
                        <md-icon class="material-icons">filter_list</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="loadStuff()">
                      <md-icon>refresh</md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show">
                  <div class="md-toolbar-tools">
                    <md-icon class="material-icons">search</md-icon>
                    <form flex name="filter.form">
                        <input type="text" ng-model="filter.search" placeholder="search">
                    </form>
                    <md-button class="md-icon-button" ng-click="removeFilter()">
                      <md-icon class="material-icons">close</md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-table-container>
                  <table md-table md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order">
                      <tr class="headerRow" md-row>
                        <th md-column md-order-by="assocBond.cusip"><span>CUSIP</span></th>
                        <th md-column md-order-by="assocBond.issuer" md-desc><span>Issuer</span></th>
                        <th md-column md-order-by="assocBond.type"><span>Type</span></th>
                        <th md-column md-order-by="assocBond.interestrate"><span>Interest Rate</span></th>
                        <th md-column md-order-by="assocBond.maturitydate"><span>Maturity Date</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row md-select="bonds" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="bonds in bonds | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell ng-click="go(bonds)">{{bonds.assocBond.cusip}}</td>
                        <td md-cell ng-click="go(bonds)">{{bonds.assocBond.issuer}}</td>
                        <td md-cell ng-click="go(bonds)">{{bonds.assocBond.type}}</td>
                        <td md-cell ng-click="go(bonds)">{{bonds.assocBond.interestrate}}%</td>
                        <td md-cell ng-click="go(bonds)">{{bonds.assocBond.maturitydate | mydate}}</td>                 
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>

                <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bondRows}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination> 
            </div>
        </md-card>
        <md-card class="table" flex="50" ng-show="showTable">
            <div>
                <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                  <div class="md-toolbar-tools">
                    <span class="tableHeader">Recent Transactions</span>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="loadStuff2()">
                      <md-icon>refresh</md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-table-container>
                  <table md-table md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query2.order">
                      <tr class="headerRow" md-row>
                        <th md-column md-order-by="timestamp" md-desc><span>Date</span></th>
                        <th md-column md-order-by="transactiondesc"><span>Transaction Description</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="transactions in transactions | orderBy: query2.order | limitTo: query2.limit : (query2.page -1) * query2.limit">
                        <td md-cell>{{transactions.timestamp | mydate}}</td>
                        <td md-cell>{{transactions.transactiondesc}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>

                <md-table-pagination md-limit="query2.limit" md-limit-options="limitOptions" md-page="query2.page" md-total="{{transactionsRows}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination> 
            </div>
        </md-card>
    </div>
</md-content>