<link rel="stylesheet" href="components/dashboard.css">
<md-toolbar layout layout-align="space-between center" class="toolbar md-primary md-hue-1">
    <img ng-click="reload()" class="logo_img" src="assets/logos.png">
    <i class="material-icons md-36 menu profile_icon" ui-sref="landing">account_circle</i>
</md-toolbar>
<div layout="column" class="dashboard_action_container" layout-align="center center">
    <div layout="row">
        <div layout="column" class="dac">
            <i class="material-icons md-36 menu dashboard_action da1" ui-sref="landing">account_balance_wallet</i>
            <p class="dashboard_action_text">Manage</p>
        </div>
        <div layout="column">
            <i class="material-icons md-36 menu dashboard_action da2" ui-sref="landing">search</i>
            <p class="dashboard_action_text">Search</p>
        </div>
    </div>
</div>