<md-toolbar layout layout-align="space-between center" class="toolbar md-primary md-hue-1">
    <img ui-sref="landing" class="logo_img" src="../assets/logos.png">
    <md-button class="md-primary md-raised menu_sign_in" ui-sref="login">Sign In</md-button>
</md-toolbar>
<div class="bg">
    <div layout="column" layout-align="start center">
        <p class="landing_text">Because Investing in Your Future Shouldn't Be Complicated</p>
        <p class="landing_text2">It can be clean and simple</p>
        <md-button class="md-accent md-raised startButton" ui-sref="login">Start Now</md-button>
    </div>
</div>