<md-toolbar layout layout-align="space-between center" class="toolbar md-primary md-hue-1">
    <p class="logo">Putnam BLB</p>
    <i class="material-icons md-36 menu" ui-sref="landing">close</i>
</md-toolbar>
<div layout="column" layout-align="center center">
    <h2>Login</h2>
    <md-input-container class="md-block">
        <label>Email</label>
        <input ng-model="email" type="email">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input ng-model="password" type="password">
    </md-input-container>
</div>