<md-toolbar layout layout-align="space-between center" class="toolbar md-primary md-hue-1">
    <img ui-sref="landing" class="logo_img" src="../assets/logos.png">
    <i class="material-icons md-36 menu" ui-sref="landing">close</i>
</md-toolbar>
<div layout="column" layout-align="center center">
    <p class="login_header grey">Login</p>
    <p class="sub_header">New to BLB? <span class="sign_up" ui-sref="signup">Sign Up</span></p>
    <form name="loginForm" layout="column" ng-submit="login(loginForm.$valid)">
        <md-input-container class="md-accent login_input">
            <label class="login_label">Email</label>
            <input ng-model="email" required type="email" md-select-on-focus>
        </md-input-container>
        <md-input-container class="md-accent login_input md-block">
            <label class="login_label">Last 4 Digits of SSN</label>
            <input ng-model="ssn4" name="ssn4" type="password" required ng-pattern="/^[0-9]{4}$/" md-maxlength="4">
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">Password</label>
            <input ng-model="password" minlength="7" required type="password">
        </md-input-container>
        <md-button class="md-accent md-raised portal_button" type="submit">Log In</md-button>
    </form>
</div>