<md-toolbar layout layout-align="space-between center" class="toolbar md-primary md-hue-1">
    <img ui-sref="landing" class="logo_img" src="assets/logos.png">
    <i class="material-icons md-36 menu" ui-sref="landing">close</i>
</md-toolbar>
<div layout="column" layout-align="center center">
    <p class="login_header grey">Sign Up</p>
    <p class="sub_header">Already have a BLB account? <span class="sign_up" ui-sref="login">Log In</span></p>
    <form name="signupForm" ng-submit="signup(signupForm.$valid)" layout="column">
        <md-input-container class="md-accent login_input">
            <label class="login_label">First name</label>
            <input ng-model="firstname" required type="text" >
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">Last name</label>
            <input ng-model="lastname" required type="text" >
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">Email</label>
            <input ng-model="email" required type="email">
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">SSN</label>
            <input ng-model="ssn" required type="password" size="4">
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">Password</label>
            <input ng-model="password" minlength="7" required type="password">
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">Confirm Password</label>
            <input ng-model="password_confirm" ng-pattern="{{password}}" required type="password">
        </md-input-container>
        
        <md-input-container class="md-accent login_input">
            <label class="login_label">Address</label>
            <input ng-model="address" required type="text" >
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">Address 2</label>
            <input ng-model="address2" type="text" >
        </md-input-container>
        <md-input-container class="md-accent login_input">
            <label class="login_label">City</label>
            <input ng-model="city" required type="text">
        </md-input-container>
        <md-input-container class="md-accent login_input_state">
            <label class="login_label">State</label>
            <md-select ng-model="state" required>
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
        </md-input-container>
         <md-input-container class="md-accent login_input">
            <label class="login_label">Postal Code</label>
            <input ng-model="postalCode" required
                   ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
        </md-input-container>
         <md-input-container class="md-accent login_input">
            <label class="login_label">Phone Number</label>
            <input ng-model="phone" required
                   ng-pattern="/^[0-9]{10}$/" md-maxlength="10" type="tel">
        </md-input-container>
        <md-button ng-click="signup()" class="md-accent md-raised portal_button" type="submit">Sign Up</md-button>
    </form>
</div>