<form layout="column" layout-align="center center" name="accountForm">
    <md-input-container>
        <label>Email</label>
        <input ng-model="user.acctemail" type="email" disabled>
    </md-input-container>
    <md-input-container>
        <label>First name</label>
        <input ng-model="user.firstname">
    </md-input-container>
    <md-input-container>
        <label>Last name</label>
        <input ng-model="user.lastname">
    </md-input-container>
    <md-button class="md-accent md-raised" type="submit">Save changes</md-button>
</form>