<form layout="column" layout-align="center center" name="addressForm"  ng-submit="reset(addressForm.$valid)">
    <div layout="row">
        <div layout="column" class="formbody">
            <md-input-container>
                <label>First name</label>
                <input ng-model="user.firstname" type="text" required>
            </md-input-container>
            <md-input-container>
                <label>Last name</label>
                <input ng-model="user.lastname" required>
            </md-input-container>
            <md-input-container>
                <label>Street address</label>
                <input ng-model="user.streetaddress">
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Postal code</label>
                <input name="postalCode" ng-model="user.postalcode" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
            </md-input-container>
            <md-input-container>
                 <label>City</label>
                 <input ng-model="user.city">
            </md-input-container>
   
            <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select ng-model="user.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
            </md-input-container>
            
        </div>
    </div>
    <md-button class="md-accent md-raised save" type="submit">Save billing address</md-button>
</form>