<form layout="column" layout-align="center center" name="addressForm">
    <div layout="row">
        <div layout="column" class="formbody">
            <md-input-container>
                <label>First Name</label>
                <input ng-model="user.fname" type="text" required>
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input ng-model="user.lname" required>
            </md-input-container>
            <md-input-container>
                <label>Address</label>
                <input ng-model="user.address">
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container>
                <label>Postal Code</label>
                <input name="postalCode" ng-model="user.postalCode" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
            </md-input-container>
            <md-input-container>
                 <label>City</label>
                 <input ng-model="user.city">
            </md-input-container>
            <md-input-container>
            <label>State</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
    </div>
    <md-button class="md-accent md-raised save" type="submit">Save billing address</md-button>
</form>