<form layout="column" layout-align="center center" name="passwordForm">
    <md-input-container>
        <label>Current password</label>
        <input ng-model="password" type="password" required>
    </md-input-container>
    <md-input-container>
        <label>New password</label>
        <input ng-model="password_new">
    </md-input-container>
    <md-input-container>
        <label>Confirm your new password</label>
        <input ng-model="password_new_confirm">
    </md-input-container>
    <md-button class="md-accent md-raised save" type="submit">Change Password</md-button>
</form>