<link rel="stylesheet" href="components/account/profile.css">
<md-toolbar layout layout-align="space-between center" class="toolbar md-primary md-hue-1">
    <img ui-sref="dashboard" class="logo_img" src="assets/logos.png">
    <div layout="row" layout-align="center center">
        <p class="username">{{user.firstname}} {{user.lastname}}</p>
        <md-menu>
            <i class="material-icons md-36 menu profile_icon" ng-click="$mdMenu.open()">account_circle</i>
            <md-menu-content width="4">
                <md-menu-item>
                        <md-button ui-sref="profile.account">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>settings</md-icon>
                            Account Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <md-icon md-font-set="material-icons" class="md-24" md-menu-align-target>exit_to_app</md-icon>
                            Log Out
                        </md-button>
                    </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="profile.account" name="account">
       Your Account
      </md-nav-item>
      <md-nav-item md-nav-sref="profile.password" name="password">
        Change Password
      </md-nav-item>
      <md-nav-item md-nav-sref="profile.address" name="address">
        Billing Address
      </md-nav-item>
      <md-nav-item md-nav-sref="profile.wallet" name="wallet">
        Wallet
      </md-nav-item>
</md-nav-bar>

<md-content class="md-padding" ui-view></md-content>
